<div class = "page-header">
  Listing comments
</div>
<div class="card text-center">
  <div class = "well" , id = "well-article" >
    <div class="card-body">
      <% @comments.each do |comment| %>
        <% if true %>
          <h3 class="card-title">Article title: <%= comment.article.title %></h3>
            Comments: <%= comment.text %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Back', articles_path, :class => "btn btn-default" %>
  </div>
</div>