<div class = "page-header">
  Showing Articles
</div>
    <div class="card text-center">
      <div class = "well">
        <div class="card-body">
          <h3 class="card-title">Title: <%= @article.title %></h3>
          <p class="card-text">Descriptions: <%= @article.text %></p>
        </div>
      </div>
      <div class="card-footer text-muted">
      <% if @article.user == current_user %>
        <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-info" %>
      <% end %>
        <%= link_to 'Back', articles_path, :class => "btn btn-default " %>
      </div>
    </div>