<div class = "page-header">
  <h1> Showing Articles </h1>
</div>
<div class = "container">
  <div class = "jumbotron">
    <div class="card text-center">
      <div class = "well">
        <div class="card-body">
          <h3 class="card-title">Title: <%= @article.title %></h3>
          <p class="card-text">Descriptions: <%= @article.text %></p>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-info" %>
        <%= link_to 'Back', articles_path, :class => "btn btn-default " %>
      </div>
    </div>
  </div>
<div>