// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(7,56,152,1) 33%, rgba(0,212,255,1) 100%);
  //background-size: cover;
  //background-repeat: no-repeat;
  //height: 100%;
}

.page-header{
 text-align: center;
 font-size: 50px;
 color: white;
}

.btn-div{
  text-align: center;
}

.signup {
  text-align: center;
}

textarea{
  resize:none;
}

.container{
  text-align: center;
}

.well{
  width:500px;
  margin: auto;
}

#well-article{
  margin-bottom: 0px;
}

.well-collapse{
  padding-left: 10px;
  font-size: large;
  background-color: lightcoral;
}

.card-title{
  color:lightslategrey;
}

.card-text{
  font-size: 20px;
}

.card-footer{
  padding-bottom: 10px;
}

#page_scroll{
  margin:0 0;
}

#signup-option{
  color: white;
}
